---
// Minimal index page
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Furniture Company</title>
  </head>
  <body>
    <main>
      <h1>Furniture Company Template</h1>
    </main>
  </body>
</html>

